# Base de Datos (PostgreSQL)
DATABASE_URL="postgresql://postgres:password@localhost:5432/unifind_db?schema=public"

# Auth.js / NextAuth
NEXTAUTH_SECRET="tu_secret_super_seguro_aqui_generado_con_openssl"
NEXTAUTH_URL="http://localhost:3000"

# Cloudinary (Imágenes privadas)
CLOUDINARY_CLOUD_NAME="tu_cloud_name"
CLOUDINARY_API_KEY="tu_api_key"
CLOUDINARY_API_SECRET="tu_api_secret"

# Resend (Envío de correos electrónicos)
RESEND_API_KEY="re_123456789_tu_api_key_resend"
EMAIL_FROM="UniFind <soporte@unifind.edu.co>"
ADMIN_NOTIFICATION_EMAIL="porteria.principal@unifind.edu.co"

# Configuración de Cron / Tareas Programadas
CRON_SECRET="secret_token_para_ejecutar_cron_job"
